# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
lib64/

model_files/