--find-links https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
accelerate
pydantic
pytest
pillow
fastapi
ftfy
gliner
diffusers
idna
numpy
requests
SentencePiece
transformers
uvicorn
huggingface_hub[cli]
paddleocr
paddlepaddle-gpu
pytesseract
prometheus_client
timm
guidance
jsonschema
einops
packaging