accelerate
pydantic
pytest
pillow
fastapi
ftfy
gliner
diffusers
idna
numpy
requests
SentencePiece
transformers
uvicorn
huggingface_hub[cli]
paddleocr
paddlepaddle-gpu
pytesseract
prometheus_client
timm
torch
torchvision
torchaudio
guidance
jsonschema
einops