accelerate
pydantic
pytest
pillow
fastapi
ftfy
diffusers
idna
numpy
requests
SentencePiece
transformers
uvicorn
huggingface_hub[cli]

paddleocr
paddlepaddle
paddlepaddle-gpu
pytesseract
prometheus_client
timm