accelerate
pydantic
pytest
pillow
fastapi
ftfy
diffusers
idna
numpy
requests
SentencePiece
transformers
uvicorn
websockets
huggingface_hub[cli]

paddleocr
paddlepaddle
paddlepaddle-gpu
pytesseract
timm